# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  config.vm.box = 'BOX_NAME'
  config.vm.box_url = 'BOX_URL'

  config.vm.network :private_network, ip: 'BOX_IP' # e.g. 192.168.33.200

  config.vm.provision :ansible do |prov|
    prov.inventory_file = 'Inventory'
    prov.sudo = true
    prov.playbook = './playbook.yml'
  end
end
